.container {
  padding: 0 16px;
}
.container:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
}
.post {
  display: flex;
  padding-top: 12px;
}

.imageSection {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.imageSection:hover {
  background-color: rgba(26, 26, 26, 0.15);
  border-radius: 50%;
}
.profile {
  border-radius: 50%;
}


.postSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.userInfoSection {
  display: flex;
  margin-bottom: 2px;
}
.userInfo {
  display: flex;
  flex: 1;
}
.userInfo div:last-child {
  margin-left: 4px;
}
.userInfo span{
  display: inline-block;
}
.userInfo .nickname {
  color: #0F1419;
  font-weight: bold;
}
.nickname:hover, .time:hover {
  cursor: pointer;
  text-decoration: underline;
}
.userInfo .email, .userInfo .time {
  color: #536471;
}
.division {
  margin: 0 4px;
}
.actionButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 4px;
  margin-top: 12px;
}

.actionButtons svg {
  fill: rgb(83, 100, 113);
}

.commentButton, .repostButton, .heartButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.commentButton button, .repostButton button, .heartButton button {
  background: #ffffff;
  border: none;
  outline: none;
  display: flex;
  width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
  margin-right: 4px;
}
.actionButtons .count {
  font-size: 13px;
  color: rgb(83, 100, 113);
}

.commentButton button {
  background-color: rgba(29, 155, 240, 0.01);
}

.commentButton:hover button {
  background-color: rgba(29, 155, 240, 0.1);
}

.commentButton.white svg, .commentButton.white .count {
  fill: white;
  color: white;
}
.repostButton.white svg, .repostButton.white .count {
  fill: white;
  color: white;
}
.heartButton.white svg, .heartButton.white .count {
  fill: white;
  color: white;
}
.commentButton.commented svg, .commentButton:hover svg {
  fill: rgb(29, 155, 240)
}

.commentButton.commented .count, .commentButton:hover .count {
  color: rgb(29, 155, 240);
}

.repostButton button {
  background-color: rgba(0, 186, 124, 0.01);
}

.repostButton:hover button {
  background-color: rgba(0, 186, 124, 0.1);
}

.repostButton.reposted svg, .repostButton:hover svg {
  fill: rgb(11, 175, 123)
}

.repostButton.reposted .count, .repostButton:hover .count {
  color: rgb(11, 175, 123)
}

.heartButton button {
  background-color: rgba(249, 24, 128, 0.01)
}

.heartButton:hover button {
  background-color: rgba(249, 24, 128, 0.1)
}

.heartButton.liked svg, .heartButton:hover svg {
  fill: rgb(228, 34, 126);
}

.heartButton.liked .count, .heartButton:hover .count {
  color: rgb(228, 34, 126);
}
