.container {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  background: rgb(240, 237, 204);
  color: rgb(2, 52, 63);
}

.left {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h1 {
  font-size: 64px;
  font-weight: bold;
  margin: 48px 0;
}
.right h2 {
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 32px;
}
.right h3{
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 40px;
}

.signup {
  width: 300px;
  background-color: rgb(2, 52, 63);
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  color: rgb(240, 237, 204);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup:hover {
  background-color: rgba(2, 52, 63, 0.7);
}

.login {
  width: 300px;
  height: 40px;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(2, 52, 63);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login:hover {
  background-color: rgba(2, 52, 63, 0.7);
}

/*
 진한 배경 hover 시: rgb(2, 52, 63);
 폰트색: rgb(240, 237, 204);
 옅은색 hover 시 rgb(207, 217, 222)

 */
